[bumpversion]
current_version = 0.5.0
commit = True
tag = True

[bumpversion:file:src/wav2polaris/app.py]

[bumpversion:file:src/wav2polaris/__init__.py]

[bumpversion:file:pyproject.toml]

[bumpversion:file:wav2polaris-win.spec]